*{
    list-style: none;
    margin:0;
    padding: 0;
}
body {
    /*background:url(background.jpg) top center no-repeat; background-size:cover;*/
}
a{
    color:midnightblue;
    text-decoration: none;
}
#header{
    margin-bottom: 35px;
    height:30px;
    background-color: #f2f0ff;
    /*box-sizing: border-box;*/
}
h1{
    margin-left: 100px;
    display: inline-block;
    color:midnightblue;
    font-size: 18px;
}
.cleafix::after{
    content: "";
    display: block;
    clear:both;
}
#header button{
    float:right;
    width:200px;
    height:30px;
    background-color: #f2f0ff;
    border:1px solid #e3e5ff;
}
.buttonContent button {
    background-color: #e1e6ff;
    border: 1px solid #bfd9ff;
    border-radius: 10px;
    height:25px;
    width: 80px;
    text-align: center;
    color: midnightblue;
}
.buttonContent button a{
    font-weight: 600;
}
#lastPage{
    margin-right: 300px;
}
#template_area{
    margin-left:100px;
}
.avatar{
    width:110px;
}
.commits{
    display: inline-block;
    text-align: left;
}
.template-li{
    padding-top:10px;
    background-color:#f2f0ff;
    border-radius: 5px;
    box-sizing: border-box;
}
.avatar:hover{
    width:115px;
}
button:hover,#header button:hover{
    background-color: #bfd9ff;
    font-size: 14px;
    color:chocolate;
}
.template-ul{
    display: grid;
    grid-template-columns:  repeat(5, 187px);
    grid-template-rows:  repeat(2,187px) ;
    grid-row-gap: 7px;
    grid-column-gap: 7px;
    text-align: center;
    color:midnightblue;
}
.inline-block{
    display: inline-block;
}
#pageContent{
    margin-top:10px;
}
.buttonContent{
    display: inline-block;
    margin:10px 0 20px 100px;
}
#pageContent span{
    color:midnightblue;
    margin-right:25px;
}
