*{
    list-style: none;
    margin:0;
    padding: 0;
}
a{
    color:midnightblue;
    text-decoration: none;
}
#header{
    margin:10px 0 35px 100px;
    height:30px;
}
#changeHtml{
     display: inline-block;
    background-color: #cbd8d9;
    font-size:14px;
    border-radius: 10px;
    width:190px;
    height:30px;
    border:1px solid #cbd8d9;
    float:right;
    margin-right: 20px;
}
#changeHtml:hover{
    width:193px;
    height:32px;
    background-color: #bfd9ff;
    font-weight: 600;
}
h1{
    display: inline-block;
}
.cleafix::after{
    content: "";
    display: block;
    clear:both;
}

.buttonContent button {
    background-color: #f0dfda;
    border: 1px solid #f6fdff;
    border-radius: 10px;
    height:25px;
    width: 80px;
    text-align: center;
    color: midnightblue;
}
.buttonContent button a{
    font-weight: 600;
}
#lastPage{
    margin-right: 300px;
}
#template_area{
    margin-left:100px;
}
.avatar{
    width:110px;
}
.commits{
    display: inline-block;
    text-align: left;
}
.template-li{
    padding-top:10px;
    background-color:#f6fdff;
    border-radius: 10px;
    box-sizing: border-box;
}
.avatar:hover{
    width:115px;
}
button:hover{
    background-color: #bfd9ff;
    font-size: 14px;
    color:chocolate;
}
.template-ul{
    display: grid;
    grid-template-columns:  repeat(5, 187px);
    grid-template-rows:  repeat(2,187px) ;
    grid-row-gap: 7px;
    grid-column-gap: 7px;
    text-align: center;
    color:midnightblue;
}
.inline-block{
    display: inline-block;
}
#pageContent{
    margin-top:10px;
}
.buttonContent{
    display: inline-block;
    margin:10px 0 20px 100px;
}
#pageContent span{
    color:midnightblue;
    margin-right:25px;
}
